/* Import Open Sans */
@import
url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

/* Import Bangers */
@import
url(https://fonts.googleapis.com/css?family=Bangers&display=swap);

/* Import Montserrat */
@import
url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);


body {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #393330;
    font-weight: 300;
    text-align: center;
    background-color: #4D4249;
}

.header {
    background-image: url(/images/Super\ Queen\ Trivia\ Background\ Black\ Overlay.jpg);
    background-size: cover;
    justify-content: center;
    height: 95vh;
    width: 98vw;
    border-bottom: 7px solid #59C9C5;
}

.header > h1 {
    font-family: 'Bangers';
    color: #FFF;
    font-size: 100px;
    letter-spacing: 3.25px;
    align-content: center;
    align-items: center;
    margin-top: 17vh;
    text-shadow: 0 0 15px #FF5ED5;
}

.header > p {
    color: #FFF;
    font-size: 22px;
}

.question {
    font-size: 18px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    background-color: #DBB1BC;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #8F95D3;
}

.btn-start {
    margin-top: 7vh;
}

.btn-start a {
    text-decoration: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 175px;
    margin-top: 70px;
}

.footer {
    height: 20vh;
    background-color: #E5007C;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 7px solid #59C9C5;
}